In [2]:
import numpy as np
import matplotlib as plt
import pandas as pd

## Import Data

In [3]:
dataset = pd.read_csv("../datasets/Part 2 - Regression/Section 4 - Simple Linear Regression/Salary_Data.csv")

In [5]:
dataset.head(3)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0

## Dependant and Independt variables

In [7]:
x = dataset.iloc[:,:-1].values
y = dataset.iloc[:,1].values

In [12]:
x.shape

(30, 1)

## Train and Test Data

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 1/3, random_state=0)